<h1>New bill</h1>

<% form_for(@bill) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :cod %><br />
    <%= f.text_field :cod %>
  </p>
  <p>
    <%= f.label :charged %><br />
    <%= f.check_box :charged %>
  </p>
  <p>
    <%= f.label :charged_date %><br />
    <%= f.date_select :charged_date %>
  </p>
  <p>
    <%= f.label :offer_id %><br />
    <%= f.text_field :offer_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', bills_path %>